body {
    font-size: 16px;
}

/* to help while creating page */
div {
    border: 2px solid black;
}

img {
    border: 2px solid black;
}

h1, h2, h3, h4, button {
    border: 2px solid black;
} 

h1 {
    font-family: 'work sans';
    font-size: 3.3rem;
    font-weight: bold;
    color: #323333; 
}

h2 {
    font-family: 'work sans';
    font-size: 2.3rem;
    color: #323333;
}

h3 {
    font-family: 'work sans';
    font-size: 1.3rem; 
    color: #323333;
}

p {
    font-family: lato;
}

/* Header */

header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: solid 1px #ffffff;
}

header .content {
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

header .content img {
    height: 2.5rem;
}

header .content p {
    font-family: 'Playfair Display SC';
    font-size: 2rem;
    color: #915A13;
    margin-right: auto;
}

header .content span {
    font-family: Oxygen;
    color: #707C73;
    padding-left: 0.5rem;
}

header .desktop ul {
    display: flex;
    font-size: 1.2rem;
    font-family: lato;
    font-weight: bold;
}

header .desktop li {
    margin-left: 2rem;
}

header .desktop li a {
    transition: color 200ms linear 200ms;
}

header .desktop li a:hover {
    color: #707C73;
}

header .mobile {
    display: none;
}

/* First Container */

.container-1 {
    background-color: #E6E3DE;
    padding: 2rem 1.5rem;
    width: 100%;
    position: relative;
    top: 6rem;
    display: flex;
    align-items: center;
}

.pic-1 {
    width: 55%;
    /* min-width: 30rem; */
}

.pic-1 img {
   height: auto;
   max-width: 100%;
  
}

.cta-content {
    width: 36%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    
}

.cta-content h1 { 
    padding-bottom: 1.5rem;
}

.cta-content h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.button {
    width: 100%;
    background-color: #707C73;
    background-size: cover;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem 0;
}

/* Containter 1 and header For Tablets */ 

@media only screen and (max-width: 1110px) {
    .cta-content h1 { 
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }
    
    .cta-content h3 {
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }
    
    .button {
        width: 100%;
        background-color: #707C73;
        background-size: cover;
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
        padding: 0.5rem 0;
    }
} 

/* For Mobile Container 1 and header */

@media only screen and (max-width: 1000px) {
    .container-1 {
        background-color: #E6E3DE;
        padding: 2rem 1.5rem;
        width: 100%;
        position: relative;
        top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pic-1 {
        width: 75%;
        margin: 0 auto;
    }

    .cta-content {
        width: 75%;
        margin-top: 1.5rem;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .button {
        width: 100%;
        background-color: #707C73;
        background-size: cover;
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center; 
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        
    }

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
    }

    header .mobile ul {
        display: flex;
    }

    header .mobile li {
        margin-left: 3rem;
    }    

}

@media only screen and (max-width: 760px) {
    .pic-1 {
        width: 100%;
        margin: 0 auto;
    }

    .cta-content {
        width: 100%;
        margin-top: 1.5rem;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 660px) {
    header .content p{
        display: none;
    }

    header .content img {
        margin-right: auto;
    }
}

/* Container 2 */

.container-2 {
    display: flex;
    padding: 2rem 1.5rem;
    width: 100%;
    position: relative;
    top: 6rem;
}

.pic-2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 30rem;
}

.pic-2 img {
    height: auto;
    width: 100%;
}

.pic-2 h2 {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2.7rem;
}

.pic-2 p {
    margin-top: 1.5rem;
    font-size: 1.7rem;
}

.source {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1rem !important;
}

.news-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.orientation, .our-campus {
    display: flex;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.guest-lecture {
    display: flex;
    padding: 1rem;
    background-color: #DDD0B3;
}

#orin-pic, #campus-pic, #guest-pic {
    min-width: 35%;
    margin-right: 1.5rem;
}

#orin-pic img, #campus-pic img, #guest-pic img {
    width: 100%;
    height: auto;
}

#orin-content, #campus-content, #guest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

#orin-content p, #campus-content p, #guest-content p {
    font-size: 1.5rem;
    padding: 1rem 0;
}

#orin-content a, #campus-content a, #guest-content a {
    font-size: 1.3rem;
    color: #707C73;
    font-weight: bold;
}

@media only screen and (max-width: 1570px) {
    .container-2 {
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem;
        width: 100%;
        position: relative;
        top: 6rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }

    .pic-2 {
        display: flex;
        flex-direction: column;
        width: 75%;
        min-width: 30rem;
    }

    .news-content {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 1.5rem;
    }

    #guest-content {
        max-width: 53%;
    }
}

@media only screen and (max-width: 1000px) {
    .pic-2 {
        display: none;
    }

    .news-content {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 760px) {
    .news-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #orin-pic, #campus-pic, #guest-pic {
        min-width: 45%;
        margin-right: 1.5rem;
    }
}

@media only screen and (max-width: 660px) {
    #orin-pic, #campus-pic, #guest-pic {
        width: 50%;
        margin-right: 1.5rem;
    }

    #orin-content, #campus-content, #guest-content {
        width: 45%;
    }

    #orin-content h2, #campus-content h2, #guest-content h2 {
        font-size: 1.5rem; 
        font-weight: bold;
    }

    #orin-content p, #campus-content p, #guest-content p {
        font-size: 1rem; 
        padding: 1rem 0;
    }
    
    #orin-content a, #campus-content a, #guest-content a {
        font-size: 0.8rem;
        color: #707C73;
        font-weight: bold;
    }
}